<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Clues - Murder Mystery</title>
</head>
  
<body>
  <header>
    <h1>Murder Mystery Game</h1>
  </header>
  
  <main>
    <section>
      <h2>Clues</h2>
      <div class="profile">
        <h3>John Doe</h3>
        <p><strong>Occupation:</strong> Businessman</p>
        <p><strong>Clue 1:</strong> This clue is encrypted: H dpaulzz zhd Qvou Kvl hynbpun dpao aol cpjapt aol upnoa ilmvyl aol tbykly.</p>
        <p><strong>Clue 2:</strong> His business had been ruined by the victim as a result of the victim's reckless spendings. </p>
      </div>
      
      <div class="profile">
        <h3>Emily Smith</h3>
        <p><strong>Occupation:</strong> Actress</p>
        <p><strong>Clue 1:</strong> Emily Smith's styling pin was found near the scene of the crime.</p>
        <p><strong>Clue 2:</strong> A co-star of Emily Smith claims to have seen her acting strangely on the night of the murder.</p>
      </div>
      
      <div class="profile">
        <h3>Robert Johnson</h3>
        <p><strong>Occupation:</strong> Butler</p>
        <p><strong>Clue 1:</strong> This clue is encrypted: Yvilya Qvouzvu ohk hjjlzz av aol cpjapt'z vmmpjl dolyl jvumpkluaphs kvjbtluaz dlyl zavylk.</p>
        <p><strong>Clue 2:</strong> The security footage shows Robert Johnson near the crime scene around the time of the murder.</p>
      </div>
    </section>
  </main>
  <center>
    <div class="button-container">
        <a href="/game" class="button">Back to Game</a>
        <a href="/solve" class="button">Solve</a>
    </div>
    </center>
      
</body>
</html>
