<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Murder Mystery Game</title>
</head>
  
<body>
  <header>
    <h1>Murder Mystery Game</h1>
  </header>
  
  <main>
    <section>
      <h2>Victim</h2>
      <div class="profile">
        <h3>Murder Scene</h3>
        <p>The victim, an arrogant entrepreneur, was murdered outside the scene of the murder.  </p>
      </div>
    </section>
  </main>
</body>
</html>
