<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Victim - Murder Mystery</title>
</head>
  
<body>
  <header>
    <h1>Victim - Murder Mystery</h1>
  </header>
  
  <main>
    <section>
      <h2>Victim</h2>
      <div class="profile">
        <h3>Murder Scene</h3>
        <p>The victim, an arrogant entrepreneur, was murdered outside of the Crimson Mansion. He succumbed to blood loss from two visible wounds that were presumed to be the results of a stabbing. The surrounding was messy and it appeared as if the murder was not planned. </p>
      
      </div>
    </section>
  </main>
  <center>
    <div class="button-container">
        <a href="/game" class="button">Back to Game</a>
        <a href="/solve" class="button">Solve</a>
    </div>
    </center>
  
</body>
</html>
